stages:
  - test
  - build
  - push
  - deploy

variables:
  IMAGE_NAME: "express-ci"

test-app:
  stage: test
  tags:
    - local-vm
  image: node:18-alpine
  script:
    - echo "==> Installing dependencies"
    - npm install
    - echo "==> Running tests"
    - npm test
  only:
    - main

build-image:
  stage: build
  tags:
    - local-vm
  image: docker:24.0.5
  variables:
    DOCKER_HOST: unix:///var/run/docker.sock
  script:
    - echo "==> Building Docker image"
    - docker build -t $IMAGE_NAME:latest .
  only:
    - main

push-image:
  stage: push
  tags:
    - local-vm
  image: docker:24.0.5
  variables:
    DOCKER_HOST: unix:///var/run/docker.sock
  script:
    - echo "==> Logging into Docker Hub"
    - echo "$DOCKERHUB_TOKEN" | docker login -u "$DOCKERHUB_USERNAME" --password-stdin
    - echo "==> Tagging image"
    - docker tag $IMAGE_NAME:latest $DOCKERHUB_USERNAME/$IMAGE_NAME:latest
    - echo "==> Pushing image"
    - docker push $DOCKERHUB_USERNAME/$IMAGE_NAME:latest
  only:
    - main

deploy-to-local:
  stage: deploy
  tags:
    - local-vm
  image: docker:24.0.5
  variables:
    DOCKER_HOST: unix:///var/run/docker.sock
  script:
    - echo "==> Deploying latest image locally"
    - docker pull $DOCKERHUB_USERNAME/$IMAGE_NAME:latest
    - docker stop express-ci || true
    - docker rm express-ci || true
    - docker run -d --name express-ci -p 3000:3000 --restart=always $DOCKERHUB_USERNAME/$IMAGE_NAME:latest
  only:
    - main