stages:
  - test
  - build
  - push
  - deploy

variables:
  IMAGE_NAME: "express-ci"

test-app:
  stage: test
  script:
    - echo "==> Running tests locally"
    - npm install
    - npm test
  only:
    - main

build-image:
  stage: build
  script:
    - echo "==> Building Docker image locally"
    - docker build -t $IMAGE_NAME:latest .
  only:
    - main

push-image:
  stage: push
  script:
    - echo "==> Logging into Docker Hub"
    - echo "$DOCKERHUB_TOKEN" | docker login -u "$DOCKERHUB_USERNAME" --password-stdin
    - echo "==> Tagging image"
    - docker tag $IMAGE_NAME:latest $DOCKERHUB_USERNAME/$IMAGE_NAME:latest
    - echo "==> Pushing image"
    - docker push $DOCKERHUB_USERNAME/$IMAGE_NAME:latest
  only:
    - main
    
deploy-to-local:
  stage: deploy
  script:
    - echo "==> Pulling last image"
    - docker pull $DOCKERHUB_USERNAME/$IMAGE_NAME:latest
    - echo "==> Stopping old container"
    - docker stop express-ci || true
    - echo "==> Removing old container"
    - docker rm express-ci || true
    - echo "==> Starting container"
    - docker run -d --name express-ci -p 3000:3000 --restart=always $DOCKERHUB_USERNAME/$IMAGE_NAME:latest
  only:
    - main
